h2{
   letter-spacing: 3px;
   text-transform: capitalize  ;
   text-align: center;

} 
.sınıf{
   color: rgb(12, 112, 67);
   text-align: justify;
 text-indent: 50px;

}
a{
   text-decoration: none;
}
a:hover{
   text-decoration: underline;
   text-decoration: uppercase ;
}